@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("../../../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
h3 {
  // font-weight: 900;
}

.mainbox {
  background-color: #eeeeee;
  height: fit-content;

  div.switch,
  .switchText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    color: #a4a4a4;
  }
  .steps {
    margin-top: 20px;
  }

  .stepsBtns {
    // border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    .nextBtn {
      // position: absolute;
      // right: 20px;
      padding: 20px 35px;
      background: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      );
      border-radius: 8px;
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
      border: none;
      outline: none;
    }
    .backBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // position: absolute;
      // right: 150px;
      padding: 20px 35px;
      // color: #ff56f6;
      // border: 1px solid #ff56f6;
    }
  }
}

@media screen and (max-width: 414px) {
  .steps {
    display: none;
  }
}
